body{
    background-image: linear-gradient(to bottom right,#cfcce0,  #e8bff7);
}

.home{
    height:100vh;
    padding: 30px;
    color:white;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-gap: 40px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 8%;
}

footer{
    padding:50px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right,#bcb8d5,  rgb(223, 169, 244));

}

.navbar{
    background-image: linear-gradient(to bottom right,#cfcce0,  rgb(232, 191, 247));
}

.product img{
    padding-top: 5%;
    height: 320px;
    width: 220px;
    z-index: 3;
    bottom: 20px;
    left:20px;
}

.decor{
    width:250px;
    height:335px;
    position: relative;
    border-radius:10px;
    background-image: linear-gradient(to bottom right,#cfcce0,  rgb(232, 191, 247));    
}

.products{
    background-image: linear-gradient(to bottom right,rgb(254, 251, 255),  rgb(237, 223, 242));

}